*{
  margin: 0px;
  padding: 0px;
}
ul{
  display: flex;
  background-color: gray;
}
li{
  list-style-type: none;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 2rem;
  color: black;
  flex: auto;
  text-align: center;
}
li:hover{
  background: white;
}

li > a{
  text-decoration: none;
}
li > a:visited {
  text-decoration: none;
  color:black;
}
li > a:hover {
  text-decoration: none;
  color:black;
}
li > a:focus {
  text-decoration: none;
  color:black;
}
li > a:active {
  text-decoration: none;
  color:red;
}


@media (max-width: 600px) {
  ul{
    flex-direction: column;
  }
}
